.signuppage{
    position: relative;
    width: 1280px;
    height: 900px;
    margin: 0 auto;
    background: #FCFCFC;
}

.searchNavImage{
    position: absolute;
    width: 149px;
    height: 63px;
    left: 37px;
    top: 27px;

}
.Arrow{
    position: absolute;
    width: 26px;
    height: 0px;
    left: 251px;
    top: 46px;
    

    box-sizing: border-box;
}
.Arrow:hover{
    cursor: pointer;
}
.ReturnText{



    position: absolute;
    width: 245px;
    height: 31px;
    left: 263px;
    top: 45px;

    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    
    color: #484848;
    margin-left: 30px;
    

    text-align: left;

    
}
.NameLabel{
    position: absolute;
    width: 207px;
    height: 26px;
    left: 229px;
    top: 155px;
    
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    color: #686868;
}
.NameSurname{
    position: absolute;
    width: 590px;
    height: 46px;
    left: 225px;
    top: 188px;
    
    background: #FFFFFF;
    border: 1.5px solid #484848;
    border-radius: 12px;
}
.InputNameSurname{
    height: 26px;
    width: 400px;
    left: 242px;
    top: 198px;
    margin-left: 17px;   
    margin-top: 10px; 
    border: #FFFFFF;
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

color: rgba(100, 100, 100, 0.5);
}
.InputNameSurname:focus{
    outline: none;
}
.CountryLabel{
    position: absolute;
    width: 207px;
    height: 26px;
    left: 229px;
    top: 271px;
    
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    color: #686868;
    
}
.Country{
    position: absolute;
    width: 590px;
    height: 46px;
    left: 225px;
    top: 304px;
    
    background: #FFFFFF;
    border: 1.5px solid #484848;
    border-radius: 12px;
}
.InputCountry{
    position: absolute;
    width: 400px;
    height: 26px;

    margin-top: 10px; 
    margin-left: 17px;
    border: #FFFFFF;
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    color: rgba(100, 100, 100, 0.5);
}
.InputCountry:focus{
    outline: none;
}
.CityLabel{
    position: absolute;
    width: 207px;
    height: 26px;
    left: 229px;
    top: 387px;
    
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    color: #686868;
}
.City{
    position: absolute;
    width: 590px;
    height: 46px;
    left: 225px;
    top: 420px;
    
    background: #FFFFFF;
    border: 1.5px solid #484848;
    border-radius: 12px;
}
.InputCity{
    position: absolute;
    width: 400px;
    height: 26px;

    margin-top: 10px; 
    margin-left: 17px;
    border: #FFFFFF;
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    color: rgba(100, 100, 100, 0.5);
    
}
.InputCity:focus{
    outline: none;
}
.EmailLabel{
    position: absolute;
    width: 207px;
    height: 26px;
    left: 229px;
    top: 503px;
    
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    color: #686868;
    
}
.Email{
    position: absolute;
    width: 590px;
    height: 46px;
    left: 225px;
    top: 536px;
    
    background: #FFFFFF;
    border: 1.5px solid #484848;
    border-radius: 8px;
}
.InputEmail{
    position: absolute;
    width: 400px;
    height: 26px;

    margin-top: 10px; 
    margin-left: 17px;
    border: #FFFFFF;
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    color: rgba(100, 100, 100, 0.5);
    
}
.InputEmail:focus{
    outline: none;
}
.AddBtn{
    position: absolute;
    width: 138px;
    height: 46px;
    left: 674px;
    top: 652px;
    background: #204080;

    border-radius: 12px;
    cursor: pointer;
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
}
.AddBtn:hover{
    cursor: pointer;
    background: #4F75C2;
}
.ErrorMessageDiv{
    position: absolute;
    width: 375px;
    height: 123px;
    left: 888px;
    top: 753px;
    
    background: #C4C4C4;
    border-radius: 8px;
}
.ErrorMessageTitle{
    
    position: absolute;
    height: 36px;
    left: 0px;
    right: 0px;
    top: calc(50% - 36px/2 - 16px);
    
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    /* identical to box height, or 257% */
    
    margin-left: 18px;

    /* Ink/Darkest */
    
    color: #090A0A;
    
}
.ErrorMessageContent{
    height: 48px;
    width: 244px;
    left: 0px;
    top: 44px;
    border-radius: nullpx;
    margin-top: 30px;
    margin-left: 18px;
}
.ErrorMessageExit{
    margin-left: 341px;
    margin-top: 11px;
    height: 20px;
    width: 20.000001907348633px;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
    border-radius: 0px;
    
    
    /* Ink/Darkest */
    

}
.ErrorMessageButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    font-family: inter,sans-serif;
    position: absolute;
    width: 70px;
    height: 32px;
    right: 24px;
    top: calc(50% - 32px/2 + 0.5px);
    color: #FFFFFF;
    background: #FF4E78;
    border-radius: 48px;
}