
.searchPage{
    position: relative;
    width: 1280px;
    height: 900px;
    
    background: #FCFCFC;
    margin:  0 auto;
}
.Header{
    
    display: flex;
}
.searchNavImage{
    position: absolute;
    width: 149px;
    height: 63px;
    left: 37px;
    top: 27px;

}
.searchInput{
    position: absolute;
    width: 509px;
    height: 46px;
    left: 221px;
    top: 35px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
}
.input{
    height: 26px;
    width: 450px;
    left: 241px;
    top: 48px;
    border-radius: nullpx;
    margin-left: 20px; 
    margin-top: 6px; 
    border: 1px solid #ffffff;
    font-family: inter,sans-serif;

    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #484848;
}
.input:focus{
    outline: none;
}
.searchButton{

    position: absolute;
    width: 138px;
    height: 46px;
    left: 754px;
    top: 32px;


}
.btn{
    font-family: inter,sans-serif;
    height: 46px;
    width: 138px;
    left: 754px;
    top: 32px;
    border-radius: 12px;
    color: #FFFFFF;
    background: #204080;
    cursor: pointer;

    font-family: inter,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    
}
.btn:hover{
    background:#4F75C2;
}
.addNewRecord{
    height: 46px;
    width: 216px;
    left: 995px;
    top: 32px;
    border-radius: 12px;

}
.addNewRecordBtn{
    position: absolute;
    width: 216px;
    height: 46px;
    left: 995px;
    top: 32px;
    font-family: inter,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    
    background: #204080;
    border-radius: 12px;
    color: #FFFFFF;
}
.addNewRecordBtn:hover{
    cursor: pointer;
    background: #4F75C2;
}
.orderBtn{
    position: absolute;
    display: flex;
    width: 139.74px;
    height: 29.5px;
    left: 930px;
    top: 127.23px;
    
}
.orderIcon{
    
    height: 24px;
    width: 26px;
    left: 938.73681640625px;
    top: 128.47750854492188px;
    border-radius: 0px;
    
}
.orderBtnText{
    height: 25px;
    width: 97px;
    left: 972.73681640625px;
    top: 130.47750854492188px;
    margin-right: 200px;    

}
.order{
    height: 29.49591064453125px;
    width: 126.27880859375px;
    left: 930px;
    top: 127.22955322265625px;
    border-radius: 8px;
    


}
.orderOptions{
    position: absolute;
    width: 155.78px;
    height: 135.11px;
    left: 930px;
    top: 172.04px;
    
    background: #FFFFFF;
    border: 1px solid #8F8F8F;
    box-sizing: border-box;
    box-shadow: 4px 6px 12px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

}

.ListResults{

    background-color: #484848;
    height: 78.86px;
    width: 726.1401977539062px;
    left: 186px;
    right: 367.86px;
    top: 162.14px;
    background: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
 
    
}
.ListResults:hover{
    cursor: pointer;
    background: rgba(79, 117, 194, 0.21);
    border-radius: 8px;
}
.List{
    position: absolute;
    width: 726.14px;
    height: 505.99px;
    left: 186px;
    top: 162.14px;
    
 
    
}
.ResultIcon{
    

    margin-left: 24px;
    margin-top: 27px;
    width: 24px;
    height: 24px;
    left: 24px;
    top: calc(50% - 24px/2 - 0.43px);
    

}
.ResultText{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    
}
.ResultTextMain{
    margin-top: 19px;
    margin-left: 5px;
    height: 40px;
    width: 600px;
    left: 60px;
    top: 19px;
    border-radius: 0px;
    
    

}
.ResultTextCaption{

    width: 196px;
    height: 16px;
    left: 0px;
    top: calc(50% - 16px/2 + 12px);
    

    
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    
    color: #72777A;

}
.ResultTextMainName{

    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
    text-align: left;


    color: #484848;
}
.ListResultsLine{

    width: 702.15px;
    height: 0px;
    left: 197.99px;
    top: 251.88px;

    background: #FFFFFF;
    border: 1px solid #7E7E7E;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.orderNameAscending{
    margin-left: 17px;
    margin-top: 10.32px;
    width: 164px;
    height: 23.74px;
    left: 947px;
    top: 182.36px;
    
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000;

}
.orderNameDescending{
    margin-top: 6px;
    margin-left: 17px;
    height: 23.743432998657227px;
    width: 164px;
    left: 947px;
    top: 212.30223083496094px;
    border-radius: nullpx;
    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000;    
    
}
.orderYearAscending{
    margin-top: 6px;
    margin-left: 17px;
    height: 23.743432998657227px;
    width: 164px;
    left: 947px;
    top: 242.23959350585938px;
    border-radius: nullpx;

    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000;

}
.orderYearDescending{
    margin-top: 6px;
    margin-left: 17px;
    height: 22.08648109436035px;
    width: 164px;
    left: 947px;
    top: 273.83392333984375px;
    border-radius: nullpx;

    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000;
    

}
.orderYearDescending:hover{
    width: 128px;
    height: 29.94px;
    margin-bottom: 20px;
    color: #ffffff;
    background: #B3B3B3;
    border-radius: 8px;
}
.previousBtn{
    height: 25px;
    width: 85.71428680419922px;
    left: 331.212890625px;
    top: 718.3464965820312px;
    border-radius: 4px;
    
    
    background: #FFFFFF;
    border: 1px solid #484848;
    border-radius: 4px;
}
.pageButtons{
    display: flex;
    position: absolute;
    width: 254px;
    height: 25px;
    left: 427.21px;
    top: 718.35px;
}
.pageOne{

    margin: 0px 4px 0px 4px;
    height: 24px;
    width: 24px;
    left: 427.212890625px;
    top: 719.3464965820312px;
    border-radius: 4px;
    
}
.pageTwo{

    position: absolute;
    width: 24px;
    height: 24px;
    left: 462.21px;
    top: 719.35px;

    background: #FFFFFF;
    border: 1px solid #484848;
    box-sizing: border-box;
    border-radius: 4px;
}
.pageThree{
        position: absolute;
    width: 24px;
    height: 24px;
    left: 497.21px;
    top: 719.35px;

    background: #204080;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
}
.multiPage{
    position: absolute;
    width: 37px;
    height: 25px;
    left: 532.21px;
    top: 718.35px;

    font-family: inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.pageSeven{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 576.21px;
    top: 719.35px;

    background: #FFFFFF;
    border: 1px solid #484848;
    box-sizing: border-box;
    border-radius: 4px;
}
.pageEight{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 611.21px;
    top: 719.35px;

    background: #FFFFFF;
    border: 1px solid #484848;
    box-sizing: border-box;
    border-radius: 4px;
}
.pageNine{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 646.21px;
    top: 719.35px;
    
    background: #FFFFFF;
    border: 1px solid #484848;
    box-sizing: border-box;
    border-radius: 4px;
}
.nextBtn{
    position: absolute;
    width: 85.71px;
    height: 25px;
    left: 681.21px;
    top: 718.35px;
    
    background: #FFFFFF;
    border: 1px solid #484848;
    box-sizing: border-box;
    border-radius: 4px;
}